@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");
@import url("fontawesome-all.min.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
}
/*Mobile First*/
.nav { 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2C3333;
    min-height: 4.5rem;
    list-style-type: none;
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    margin: auto;
}

/*.nav li {
    display: inline-block;
}*/


.nav a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-weight: 600;
}

.nav li a::after {
    content: " | ";
}

@media(min-width:600px){
    .nav {
        min-height: 6rem;
        font-size: 2.5rem;
    }
}

@media(min-width:800px){
    .nav {
        min-height: 7rem;
        font-size: 3.3rem;
    }
}