@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,600,600italic,700");

:root {
    --primary-color: #2666CF;
    --secundary-color: #242943;
    --sub-title-color: #21325E;
    --link-color: coral;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
}
p {
    font-size: 3rem;
}

.link {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    color: var(--link-color);
}

.link:link {
    color: var(--link-color);
}
  
.link:hover {
    border-bottom: 1px solid;
    font-weight: 600;
}
  
.link:active {
    color: var(--link-color);
}

/*Nav*/
.mainNav {
    overflow: hidden;
    background-color: #333;
    min-width: 320px;
    width: 100%;
}

.mainNav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.4rem 1.6rem;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 600;
}

.mainNav a:hover  {
    background-color: #ddd;
    color: black;
}

.mainNav a.active {
    background-color: var(--primary-color);
    color: white;
}

.mainNav .icon {
    display: none;
}

.fa-bars {
    font-size: 2.2rem;
}

.container {
    min-width: 320px;
    width: 100%;
    display: flex;
}

/*About section*/
#about div {
    padding: 1rem 3rem;
}

#about {
    padding: 5rem 2rem;
    text-align: left;
    background-color: var(--secundary-color);
}

#about p{
    color: white;
}

#about a {
    font-weight: 600;
}
.porfilePicture {
    border-radius: 100%;
    width: 33rem;
    height: 33rem;
    margin: 0;
}

/*skills*/

.title {
    width: 20rem;
    border-width: .5rem;
    border-style: solid;
    border-color: rgb(124, 118, 115);
    border-top-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.title h1 {
    font-size: 3rem;
    color: var(--primary-color);
    padding: 1.5rem 1rem;
}

.progress-bar {
    width: 40rem;
    height: 2rem;
}

/*contact section*/
#contact {
    background-color: var(--secundary-color);
    padding: 1rem;
}

#contact p {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem 0;
}

.contact-ind {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

.contact-ind span {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    padding: 0 2rem;
}

/*icons*/
.fa-phone, .fa-envelope, .fa-github {
    color: white;
}

/*projects*/
#projects {
    background-color: #DFDFDE;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}

.container-projects {
    padding: 2rem;
}

.container-proj-ind, .container-proj-ind-web {  
    position: relative;  
    border-radius: 2rem;
    border-style: solid;
    border-color: #afacad;  
    border-width: .1rem;
}

.proj-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2rem;
}

.proj-img img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.desc-img-proj {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: .85;
    border-radius: 2rem;
}

.desc-item p{
    font-weight: 900;
    color: white;
}

.logos-item {
    padding: 1rem;
}

.logos-item i {
    padding: 1rem;
}

.desc-img-proj:hover, .desc-img-proj:hover .desc-item p {
    background-color: transparent;
    color: transparent;
}

.desc-img-proj:hover, .desc-img-proj:hover .logos-item i {
    background-color: transparent;
    color: transparent;
}

.desc-img-proj:active, .desc-img-proj:active .desc-item p {
    background-color: transparent;
    color: transparent;
}

.desc-img-proj:active, .desc-img-proj:active .logos-item i {
    background-color: transparent;
    color: transparent;
}

.style1 {
    background-color: #f2849e;
}

.style2 {
    background-color: #7ecaf6;
}

.style3 {
    background-color: #7bd0c1;
}

.style4 {
    background-color: #c75b9b;
}

.style5 {
    background-color: #ae85ca;
}

.style6 {
    background-color: #8499e7;
}

/************************ break points ************************/
/*Mobile*/
@media screen and (min-width: 320px) and (max-width: 600px) {
    .mainNav a:not(:first-child) {display: none;}
    .mainNav a.icon {
        float: right;
        display: block;
    }

    .container{
        width: 100%;
    }

    #about div {
        padding: 1rem 0;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    .mainNav.responsive {position: relative;}
    .mainNav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .mainNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .container {
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    /*about*/
    #about div {
        padding: 1rem 0;
    }

    #about p{
        text-align: center;
        font-size: 2rem;
    }

    .porfilePicture {
        width: 31rem;
        height: 31rem;
    }

    /*skills*/
    #skills p{
        padding: 2rem;
        text-align: center;
        font-size: 2rem;
    }

    .container-skills{
        padding: 2rem;
    }

    .container-skills div{
        padding: 1rem 0;
    }

    .title {
        width: 30rem;
        margin: 0 auto;
    }

    .title h1 {
        text-align: center;
    }

    .img-skills {
        width: 8rem;
        height: 7rem;
    }

    .git-github {
        width: 14rem;
        height: 8rem;
    }

    .skill-ind {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill-ind span {
        font-size: 1.5rem;
    }

    .progress-bar {
        width: 28rem;
        height: 2rem;
    }

    /*contact*/

    .contact-ind span {
        font-size: 2rem;
    }

    .fa-phone, .fa-envelope {
        font-size: 2rem;
    }

    .fa-github{
        font-size: 3rem;
    }

    /*projects*/
    #projects .descripcion{
        padding: 2rem;
        text-align: center;
        font-size: 2rem;
    }

    .sub-title p {
        font-size: 2rem;
        font-weight: 900;
        color: var(--sub-title-color);
        text-align: center;
        padding-top: 2rem;
    }

    .mobile, .web {
        display: flex;
        justify-content: center;
    }

    .container-proj-ind {
        width: 22rem;
        height: 33rem;  
    }

    .container-proj-ind-web {
        width: 30rem;
        height: 20rem;
    }

    .desc-img-proj {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .desc-item p{
        font-size: 2rem;
        text-align: center;
    }

    .fa-android, .fa-java, .fa-html5, .fa-css3-alt, .fa-js {
        font-size: 3.5rem;
        color: var(--secundary-color);
    }

}

/*Tablet*/
@media screen and (min-width: 600px) and (max-width: 900px) {

    .container div {
        padding: 1rem ;
    }

    .container p{
        font-size: 2rem;
    }

    /*skills*/
    .container-skills{
        display: grid;
        grid-template-columns: 29rem 29rem;
        padding: 2rem;
        justify-content: center;
    }

    .container-skills div{
        padding: 1.5rem 1rem;
    }

    .title {
        width: 45rem;
        margin: 0 auto;
    }

    .title h1 {
        text-align: center;
    }

    #skills p {
        padding: 1rem;
        text-align: center;
        font-size: 2rem;
    }

    .skill-ind {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .skill-ind span {
        font-size: 1.5rem;
    }

    .progress-bar {
        width: 20rem;
        height: 2.5rem;
    }

    .img-skills {
        width: 9.5rem;
        height: 8.5rem;
    }

    .git-github {
        width: 15.5rem;
        height: 9.5rem;
    }

    /*contact*/
    #contact p {
        font-size: 3.5rem;
    }

    .contact-ind span {
        font-size: 2.5rem;
    }

    .fa-phone, .fa-envelope {
        font-size: 2.5rem;
    }

    .fa-github{
        font-size: 3.5rem;
    }

    /*projects*/
    #projects .descripcion {
        padding: 1rem;
        text-align: center;
        font-size: 2rem;
    }

    .sub-title p {
        font-size: 2rem;
        font-weight: 900;
        color: var(--sub-title-color);
        text-align: center;
        padding-top: 2rem;
    }

    .mobile {
        display: flex;
        justify-content: center;
    }

    .container-proj-ind {
        width: 22rem;
        height: 33rem;  
    }

    .desc-img-proj {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .desc-item p{
        font-size: 2rem;
        text-align: center;
    }

    .fa-android, .fa-java {
        font-size: 3.5rem;
        color: var(--secundary-color);
    }    

}

/*Desktop*/
@media (min-width:900px) {
    /*skills*/
    .container-skills {
        padding: 1rem;
        display: grid;
        grid-template-columns: 29rem 29rem 29rem;
        justify-content: center;
    }

    .container-skills div{
        padding: 3rem 0;
    }

    .title {
        width: 60rem;
        margin: 0 auto;
    }

    .title h1 {
        text-align: center;
    }

    #skills p {
        padding: 2.5rem;
        text-align: left;
        font-size: 2rem;
    }

    .skill-ind {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .skill-ind span {
        font-size: 2rem;
    }

    .progress-bar {
        width: 20rem;
        height: 2.5rem;
    }


    .img-skills {
        width: 9.5rem;
        height: 8.5rem;
    }

    .git-github {
        width: 20rem;
        height: 10rem;
    }

    /*contact*/
    #contact p {
        font-size: 5rem;
    }

    .contact-ind {
        padding: 3rem 0;
    }

    .contact-ind span {
        font-size: 3rem;
    }

    .fa-phone, .fa-envelope {
        font-size: 3rem;
    }

    .fa-github{
        font-size: 4.5rem;
    }

    /*projects*/
    #projects .descripcion {
        padding: 2.5rem;
        text-align: left;
        font-size: 2rem;
    }

    .sub-title p {
        font-size: 2.5rem;
        font-weight: 900;
        color: var(--sub-title-color);
        padding: 1rem 3rem;
    }

    .mobile {
        display: flex;
        justify-content: center;
    }

    .container-proj-ind {
        width: 24rem;
        height: 35rem;  
    }

    .desc-img-proj {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .desc-item p{
        font-size: 2rem;
        text-align: center;
    }

    .fa-android, .fa-java {
        font-size: 3.5rem;
        color: var(--secundary-color);
    }    

}